# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Foldering 
node_modules
dist
dist-ssr
resources
docs

# File CICD
Dockerfile
Jenkinsfile

# Environment
# .env
# .env.production
# .env.develop
# .env.uat

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
